@charset "UTF-8";

@font-face {
  font-family: "ingles";
  src:url("fonts/ingles.eot");
  src:url("fonts/ingles.eot?#iefix") format("embedded-opentype"),
    url("fonts/ingles.woff") format("woff"),
    url("fonts/ingles.ttf") format("truetype"),
    url("fonts/ingles.svg#ingles") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ingles" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ingles" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\61";
}
.icon-youtube-play:before {
  content: "\62";
}
.icon-twitter:before {
  content: "\63";
}
.icon-facebook:before {
  content: "\64";
}
.icon-android:before {
  content: "\65";
}
.icon-user:before {
  content: "\66";
}
.icon-unlock-alt:before {
  content: "\67";
}
.icon-envelope-o:before {
  content: "\68";
}
.icon-search:before {
  content: "\69";
}
.icon-align-justify:before {
  content: "\6a";
}
.icon-bell-o:before {
  content: "\6b";
}
.icon-calendar:before {
  content: "\6c";
}
.icon-cc-amex:before {
  content: "\6d";
}
.icon-cc-visa:before {
  content: "\6e";
}
.icon-cc-mastercard:before {
  content: "\6f";
}
.icon-cc-paypal:before {
  content: "\70";
}
.icon-check:before {
  content: "\71";
}
.icon-cog:before {
  content: "\72";
}
.icon-microphone:before {
  content: "\73";
}
.icon-music:before {
  content: "\74";
}
.icon-phone:before {
  content: "\75";
}
.icon-power-off:before {
  content: "\76";
}
.icon-thumbs-o-up:before {
  content: "\77";
}
.icon-thumbs-o-down:before {
  content: "\78";
}
.icon-zoom-out:before {
  content: "\79";
}
.icon-zoom-in:before {
  content: "\7a";
}
.icon-sound-off:before {
  content: "\41";
}
.icon-sound-alt:before {
  content: "\42";
}
.icon-calendar-1:before {
  content: "\43";
}
.icon-file-directory:before {
  content: "\44";
}
.icon-lock:before {
  content: "\45";
}
.icon-location:before {
  content: "\46";
}
.icon-trashcan:before {
  content: "\47";
}
.icon-game-controller:before {
  content: "\48";
}
.icon-group-full:before {
  content: "\49";
}
.icon-mail:before {
  content: "\4a";
}
.icon-pin:before {
  content: "\4b";
}
.icon-mic-off:before {
  content: "\4c";
}
.icon-mic-5:before {
  content: "\4d";
}
.icon-print:before {
  content: "\4e";
}
.icon-refresh:before {
  content: "\4f";
}
.icon-share:before {
  content: "\50";
}
.icon-signal-wifi:before {
  content: "\51";
}
.icon-iphone-streamline:before {
  content: "\52";
}
.icon-ipad-streamline:before {
  content: "\53";
}
.icon-ibook-laptop:before {
  content: "\54";
}
.icon-cutlery:before {
  content: "\55";
}
.icon-cup:before {
  content: "\56";
}
.icon-male:before {
  content: "\57";
}
.icon-female:before {
  content: "\58";
}
.icon-shopping-cart:before {
  content: "\59";
}
.icon-wrench:before {
  content: "\5a";
}
.icon-graph:before {
  content: "\30";
}
.icon-whatsapp:before {
  content: "\31";
}
.icon-chevron-up:before {
  content: "\32";
}
.icon-chevron-down:before {
  content: "\33";
}
.icon-pencil-square-o:before {
  content: "\34";
}
.icon-log-in:before {
  content: "\35";
}
.icon-exchange:before {
  content: "\36";
}
.icon-arrow-down:before {
  content: "\37";
}
.icon-arrow-up:before {
  content: "\38";
}
.icon-smile-o:before {
  content: "\39";
}
.icon-comments:before {
  content: "\21";
}
.icon-arrow-circle-1-left:before {
  content: "\22";
}
.icon-arrow-circle-1-right:before {
  content: "\23";
}
.icon-close:before {
  content: "\24";
}
.icon-circle-o:before {
  content: "\25";
}
.icon-circle:before {
  content: "\26";
}
.icon-circle-full:before {
  content: "\27";
}
.icon-laptop:before {
  content: "\28";
}
.icon-calendar-o:before {
  content: "\29";
}
.icon-clock:before {
  content: "\2a";
}
.icon-clock-1:before {
  content: "\2b";
}
.icon-bars:before {
  content: "\2c";
}
.icon-download:before {
  content: "\2d";
}
.icon-filmstrip:before {
  content: "\2e";
}
.icon-building:before {
  content: "\2f";
}
.icon-video-camera:before {
  content: "\3a";
}
.icon-briefcase:before {
  content: "\3b";
}
.icon-blogger:before {
  content: "\3c";
}
.icon-wordpress-alt:before {
  content: "\3d";
}
.icon-th:before {
  content: "\3e";
}
.icon-th-large:before {
  content: "\3f";
}
.icon-question-circle:before {
  content: "\40";
}
